<header>
    <h1>Imóveis do tipo <%= @property_type.name %></h1>

    <nav>
        <%= link_to('Voltar', root_path) %>
        <hr>
    </nav>
</header>

<main>
    <h2>Imóveis Disponíveis</h2>
    <% if @property_type.properties.empty? %>
        <div><span>Nenhum imóvel disponível</span></div>
    <% end %>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Quartos</th>
            </tr>
        </thead>
        <tbody>
            <% @property_type.properties.each do |p| %>
                <%= render p %>
            <% end %>
        </tbody>
    </table>
</main>