<h3>Reserva do Imóvel</h3>
<dl>
    <dt>Data de Início</dt>
    <dd><%= l @property_reservation.start_date %></dd>

    <dt>Data de Término</dt>
    <dd><%= l @property_reservation.end_date %> </dd>

    <dt>Valor Total</dt>
    <dd><%= @property_reservation.total_value %></dd>
</dl>